* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5c8db6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    min-height: 3rem;
    min-width: 100vw;
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}
