* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

header {
    background-color: #5c8db6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    min-height: 3rem;
    min-width: 100vw;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.container {
    background-color: aliceblue;
    font-weight: 400;
    padding: 2rem 3rem 0 3rem;
}

.form-row {
    position: relative;
}
.form-row > * {
    display: block;
    margin-top: 0.4rem;
}

.form-row > textarea {
    min-height: 6rem;
}

.form-row label {
    font-weight: 500;
}
.form-row button {
    position: absolute;
    right: 0.3rem;
    left: auto;
}

.form-error {
    background-color: red;
    color: white;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

input, textarea {
    /* Yoinked these two from the iOS safari UA sheet in order to correct some display issues*/
    padding-block-start: 2px;
    padding-inline-start: 0.5em;
    border: solid darkgray;
    padding: 0.3rem;
    width: 100%;
}

input:focus, textarea:focus {
    border: solid darkgray;
}

.comment-entry {
    background-color: #dcf4ff;
    margin: 1rem 0;
    padding: 0.3rem;
}
.comment-entry-holder {
    padding: 0.2rem;

}
footer {
    text-align: center;
}

@media (min-width: 500px) {
    .container {
        max-width: 500px;
        margin: auto;
    }
}
